/*
Order = Base + typograpy -> layouts -> grid -> page layout -> components1

0-600px phone
600px-900px Tablet
900px-1200px Tablet grande
1200 - 1800 - style padrao
1800+ big screen
*/
@keyframes moveLeft {
  /* what happens in the beginning */
  0% {
    /* starts invisible and 100rem left from the original position */
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
    /* back to original position and opacity */
  }
}
@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveUp {
  0% {
    transform: translateY(8rem);
    opacity: 0;
  }
  80% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
/* seletor universal */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
}

.main-title {
  font-family: Roboto;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 7.5rem;
  letter-spacing: 0em;
}

.main-subtitle {
  font-family: Roboto;
  font-size: 2.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.1rem;
  letter-spacing: 0em;
}

.section-title {
  font-family: Roboto;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4.2rem;
  letter-spacing: 0em;
}

.section-subtitle {
  font-family: Roboto;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 2.8rem;
  letter-spacing: 0.05em;
}

.section-text {
  font-family: Roboto;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.9rem;
  letter-spacing: 0em;
}

.fluid-img {
  max-width: 100%;
  height: auto;
}

.c-branco {
  color: #f8fdf9;
}

.c-verde-claro {
  color: #8ab596;
}

.c-verde {
  color: #7fad8c;
}

.c-verde-escuro {
  color: #55785e;
}

.f-branco {
  background-color: #f8fdf9;
}

.f-verde-claro {
  background-color: #8ab596;
}

.f-verde {
  background-color: #7fad8c;
}

.f-verde-escuro {
  background-color: #55785e;
}

.button {
  border-radius: 4rem;
  padding: 1.3rem 5rem;
  width: 18rem;
  display: inline-block;
  transition: all 0.3s;
  text-align: center;
}
.button:hover {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.3rem);
}

.button-text {
  font-family: Roboto;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.1rem;
  letter-spacing: 0em;
  text-align: center;
  text-decoration: none;
}
.button-text-verde:hover {
  color: #7fad8c;
}
.button-text-branco:hover {
  color: #f8fdf9;
}

.equipe {
  width: 35rem;
  height: 55rem;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 auto 3rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}
@media (max-width: 56.25em) {
  .equipe {
    width: 27rem;
    height: 45rem;
  }
}
.equipe-titulo {
  margin: 8rem 0 5rem;
}
.equipe-infos {
  background-color: rgba(248, 253, 249, 0.5);
  text-align: left;
  flex: 0.3;
  padding: 1rem 2rem;
}
.equipe-title {
  font-size: 3rem;
  color: #8ab596;
}
.equipe-text {
  font-size: 1.8rem;
  color: #55785e;
}
.equipe-boximg {
  background-color: white;
  flex: 0.7;
  background-size: cover;
}
.equipe-boximg-1 {
  background-image: url(../images/clinica/marina.jpeg);
}
.equipe-boximg-2 {
  background-image: url(../images/clinica/aline.jpeg);
}
.equipe-boximg-3 {
  background-image: url(../images/clinica/ariele.jpeg);
}
.equipe-boximg-4 {
  background-image: url(../images/clinica/carla.jpeg);
}
.equipe-boximg-5 {
  background-image: url(../images/clinica/ariane.jpeg);
}
.equipe-boximg-6 {
  background-image: url(../images/clinica/debora.jpeg);
}
.equipe-boximg-7 {
  background-image: url(../images/clinica/carolina.jpeg);
}
.equipe-boximg-8 {
  background-image: url(../images/clinica/mariaVitoria.jpg);
}
.equipe-boximg-9 {
  background-image: url(../images/clinica/fatima.jpeg);
}
.equipe-boximg-10 {
  background-image: url(../images/clinica/bianca.jpeg);
}
.equipe-boximg-11 {
  background-image: url(../images/clinica/leo.jpeg);
}
.equipe-boximg-12 {
  background-image: url(../images/clinica/priscila.jpeg);
}
.equipe-boximg-13 {
  background-image: url(../images/clinica/leticia.jpeg);
}
.equipe-boximg-14 {
  background-image: url(../images/clinica/marina2.jpeg);
}

.slick-next:before,
.slick-prev:before {
  font-size: 3.5rem;
}

.navigation {
  margin-bottom: 10rem;
  z-index: 1000;
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
  list-style: none;
  padding: 0;
  align-items: center;
  margin-left: 5rem;
}
.navigation-item:not(:last-child) {
  margin-right: 4rem;
}
.navigation-link {
  font-family: Roboto;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.1rem;
  letter-spacing: 0em;
  text-align: left;
  color: #f8fdf9;
  text-decoration: none;
}
.navigation-link:hover {
  font-weight: bold;
  color: #f8fdf9;
}

.logo-img {
  width: 35rem;
}

.navigationMobile {
  display: none;
}

@media (max-width: 56.25em) {
  .navigation {
    display: none;
  }

  .navigationMobile {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 10rem;
    margin-bottom: 5rem;
  }
  .navigationMobile-logo {
    width: 15rem;
    position: absolute;
    left: 5rem;
  }

  .mobileNav {
    position: relative;
    display: inline-block;
  }
  .mobileNav-checkbox {
    display: none;
  }
  .mobileNav-button {
    height: 6rem;
    width: 6rem;
    position: fixed;
    right: 5rem;
    top: 4.5rem;
    background-color: #f8fdf9;
    border-radius: 50%;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    text-align: center;
    cursor: pointer;
    z-index: 8000;
  }
}
@media (max-width: 56.25em) and (max-width: 37.5em) {
  .mobileNav-button {
    height: 5rem;
    width: 5rem;
  }
}
@media (max-width: 56.25em) {
  .mobileNav-background {
    height: 5rem;
    width: 5rem;
    position: fixed;
    right: 5.5rem;
    top: 5rem;
    border-radius: 50%;
    background-color: #7fad8c;
    transition: transform 0.8s cubic-bezier(0.65, -0.01, 0.35, 1.02);
    z-index: 7000;
  }
}
@media (max-width: 56.25em) and (max-width: 37.5em) {
  .mobileNav-background {
    height: 3rem;
    width: 3rem;
  }
}
@media (max-width: 56.25em) {
  .mobileNav-checkbox:checked ~ .mobileNav-background {
    transform: scale(70);
  }
}
@media (max-width: 56.25em) {
  .mobileNav-icon {
    font-size: 3.5rem;
    display: inline-block;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    position: relative;
  }
}
@media (max-width: 56.25em) and (max-width: 37.5em) {
  .mobileNav-icon {
    font-size: 3rem;
    top: 50%;
    left: 55%;
  }
}
@media (max-width: 56.25em) {
  .mobileNav-nav {
    height: 100vh;
    position: fixed;
    top: 50%;
    left: -80%;
    transform: translate(-50%, -50%);
    z-index: 7500;
    opacity: 1;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}
@media (max-width: 56.25em) {
  .mobileNav-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 56.25em) {
  .mobileNav-item {
    width: 60%;
    margin: 3rem auto;
    padding: 3rem 0;
  }
  .mobileNav-item:not(:last-of-type) {
    border-bottom: 2px solid #f8fdf9;
  }
}
@media (max-width: 56.25em) {
  .mobileNav-link {
    font-family: Roboto;
    font-size: 3.5rem;
    color: #f8fdf9;
    text-decoration: none;
    transition: all 0.2s;
    line-height: 2.1rem;
    letter-spacing: 1rem;
  }
  .mobileNav-link:hover {
    font-weight: bold;
    color: #7fad8c;
  }
}
@media (max-width: 56.25em) {
  .mobileNav-checkbox:checked ~ .mobileNav-nav {
    opacity: 1;
    width: 100%;
    left: 50%;
  }
}
.estetica {
  background-image: url("../images/clinica/fundo3.png");
  background-size: cover;
  text-align: center;
  padding: 5rem 3rem;
}
.estetica-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 8rem auto 5rem;
}
@media (max-width: 56.25em) {
  .estetica-row {
    flex-direction: column;
  }
}
.estetica-row-reverse {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 8rem auto 5rem;
}
@media (max-width: 56.25em) {
  .estetica-row-reverse {
    flex-direction: column-reverse;
  }
}
.estetica-card {
  background-color: #f8fdf9;
  text-align: center;
  padding: 3rem 8rem;
  border-radius: 1rem;
  width: 60rem;
}
@media (max-width: 56.25em) {
  .estetica-card {
    width: 100%;
  }
}
.estetica-card-title {
  font-size: 2.4rem;
  color: #55785e;
  margin-bottom: 3rem;
}
.estetica-card-text {
  font-size: 2.4rem;
  color: #8ab596;
}
.estetica-img {
  border: 0.5rem solid #55785e;
  border-radius: 1rem;
  background-size: cover;
  width: 40rem;
  height: 40rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}
@media (max-width: 56.25em) {
  .estetica-img {
    margin-top: 8rem;
  }
}
.estetica-img-1 {
  background-image: url("../images/clinica/facialFisio.jpg");
}
.estetica-img-2 {
  background-image: url("../images/clinica/perna.jpg");
}
.estetica-img-3 {
  background-image: url("../images/clinica/cara.jpg");
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem 5rem;
  text-align: center;
  background-image: url("../images/clinica/fundo4.png");
  background-size: cover;
  background-color: #f8fdf9;
}
.footer-img {
  width: 30rem;
}

.main {
  background-image: url("../images/clinica/fundo1.png");
  background-size: cover;
  padding: 5rem 5rem 10rem;
  position: relative;
  overflow: hidden;
}
.main-list {
  list-style: none;
  padding: 3rem 0;
}
.main-item:not(:last-of-type) {
  margin-bottom: 2rem;
}
.main-icon {
  margin-right: 1rem;
}
.main-foto {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 90%;
  height: 100vh;
}
@media (max-width: 75em) {
  .main-foto {
    display: none;
  }
}

.mapa {
  background-image: url("../images/clinica/Map.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 55vw;
  align-items: center;
  display: flex;
}
.mapa-card {
  border: 0.5rem solid #8ab596;
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
  background-color: #f8fdf9;
  text-align: center;
  padding: 1rem 5rem 2rem;
  margin-left: 10rem;
}
.mapa-loc {
  font-size: 2rem;
  font-weight: 700;
  color: #55785e;
  margin-bottom: 0;
}
.mapa-title {
  font-size: 3.5rem;
  font-weight: 500;
  color: #55785e;
  text-transform: uppercase;
}
.mapa-end {
  color: #8ab596;
  font-size: 2.4rem;
  font-weight: 700;
}

@media (max-width: 56.25em) {
  .mapa {
    background-image: url("../images/clinica/mapaMobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 216vw;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    padding: 3rem 4rem;
  }
  .mapa-card {
    border: 0.5rem solid #8ab596;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
    background-color: #f8fdf9;
    text-align: center;
    padding: 1rem 5rem 2rem;
    margin-left: 0;
  }
  .mapa-loc {
    font-size: 2rem;
    font-weight: 700;
    color: #55785e;
    margin-bottom: 0;
  }
  .mapa-title {
    font-size: 3.5rem;
    font-weight: 500;
    color: #55785e;
    text-transform: uppercase;
  }
  .mapa-end {
    color: #8ab596;
    font-size: 2.4rem;
    font-weight: 700;
  }
}
.servicos {
  background-image: url("../images/clinica/fundo3.png");
  background-size: cover;
  text-align: center;
  padding: 5rem 3rem;
}

.card {
  background-color: #f8fdf9;
  width: 75%;
  padding: 5rem 0;
  margin: 3rem auto;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}
.card-container {
  display: flex;
}
@media (max-width: 56.25em) {
  .card-container {
    flex-direction: column;
  }
}
.card-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.card-linha {
  background-color: #8ab596;
  width: 0.1rem;
  height: auto;
}
.card-item {
  flex: 1;
  margin-bottom: 5rem;
  padding: 0 5rem;
}
.card-item-title {
  font-family: Roboto;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 2.8rem;
  letter-spacing: 0em;
  text-align: center;
  color: #8ab596;
  margin-bottom: 1.5rem;
}
.card-item-text {
  font-family: Roboto;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: center;
  color: #8ab596;
}
.card-item-last {
  width: 100%;
  margin-top: 5rem;
}
.card-item-last-item {
  font-family: Roboto;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: center;
  color: #8ab596;
}

.sobrenos {
  padding: 8rem;
  text-align: center;
  background-image: url("../images/clinica/fundo2.png");
  background-size: cover;
}
.sobrenos-titulos {
  margin-bottom: 5rem;
}
.sobrenos-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sobrenos-textos {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  min-width: 45rem;
}
.sobrenos-texto {
  padding: 0 8rem;
}

.galeria {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  flex: 1;
}
.galeria-row {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.galeria-bloco {
  border: 0.5rem solid #8ab596;
  border-radius: 1rem;
  background-size: cover;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}
.galeria-bloco-1 {
  width: 35rem;
  height: 35rem;
  background-image: url("../images/clinica/foto1.png");
}
.galeria-bloco-2 {
  width: 20rem;
  height: 40rem;
  background-image: url("../images/clinica/foto2.png");
}
.galeria-bloco-3 {
  width: 20rem;
  height: 20rem;
  align-self: flex-end;
  position: relative;
  left: 2rem;
  background-image: url("../images/clinica/foto3.png");
}
@media (max-width: 56.25em) {
  .galeria-bloco-1 {
    width: 20rem;
    height: 20rem;
  }
  .galeria-bloco-2 {
    width: 15rem;
    height: 30rem;
  }
  .galeria-bloco-3 {
    width: 10rem;
    height: 10rem;
  }
}

@media (max-width: 56.25em) {
  .sobrenos-content {
    flex-direction: column-reverse;
    text-align: center;
  }

  .sobrenos-text {
    text-align: center !important;
  }

  .galeria {
    margin-top: 5rem;
  }
}
.spa {
  padding: 8rem;
  text-align: center;
  background-size: cover;
  background-image: url("../images/clinica/fundo4.png");
}
.spa-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  margin-top: 8rem;
}
@media (max-width: 56.25em) {
  .spa-content {
    flex-direction: column-reverse;
  }
}
.spa-img {
  border: 0.5rem solid #8ab596;
  border-radius: 1rem;
  background-size: cover;
  background-image: url("../images/clinica/spa.png");
  width: 50rem;
  height: 35rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}
.spa-info {
  text-align: left;
}
.spa-logo {
  width: 15rem;
}
.spa-text {
  color: #55785e;
  font-size: 1.8rem;
  margin: 2rem 0 3rem;
}
@media (max-width: 56.25em) {
  .spa .spa-info,
.spa .spa-title,
.spa .spa-text {
    text-align: center;
  }
  .spa .spa-img {
    width: 40rem;
    height: 27rem;
  }
}

.marina {
  padding: 8rem;
  text-align: center;
  background-size: cover;
  background-image: url("../images/clinica/fundo4.png");
}
.marina-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}
@media (max-width: 56.25em) {
  .marina-content {
    flex-direction: column-reverse;
  }
}
.marina-img {
  border: 0.5rem solid #8ab596;
  border-radius: 1rem;
  background-size: cover;
  background-image: url("../images/clinica/marina.jpg");
  width: 30rem;
  height: 50rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}
.marina-info {
  text-align: left;
  flex: 0.9;
}
.marina-title {
  color: #55785e;
  font-size: 4.8rem;
}
.marina-text {
  color: #55785e;
  font-size: 1.8rem;
  margin: 2rem 0 1rem;
}
.marina-logo {
  width: 50rem;
}
@media (max-width: 56.25em) {
  .marina .marina-info,
.marina .marina-title,
.marina .marina-text {
    text-align: center;
  }
  .marina .marina-img {
    width: 30rem;
    height: 40rem;
  }
}

/*# sourceMappingURL=style-clinica.css.map */
