.main {
  background-image: url("../images/clinica/fundo1.png");
  background-size: cover;
  padding: 5rem 5rem 10rem;
  position: relative;
  overflow: hidden;

  &-list {
    list-style: none;
    padding: 3rem 0;
  }

  &-item {
    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }
  }

  &-icon {
    margin-right: 1rem;
  }

  &-foto {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 90%;
    height: 100vh;
  }
}
