.button {
  border-radius: 4rem;
  padding: 1.3rem 5rem;
  width: 18rem;
  display: inline-block;
  transition: all 0.3s;
  text-align: center;

  &:hover {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    transform: translateY(-0.3rem);
  }
}

.button-text {
  font-family: Roboto;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.1rem;
  letter-spacing: 0em;
  text-align: center;
  text-decoration: none;

  &-verde:hover {
    color: $verde;
  }
  &-branco:hover {
    color: $main-branco;
  }
}
