.fluid-img {
  max-width: 100%;
  height: auto;
}

.c-branco {
  color: $main-branco;
}
.c-verde-claro {
  color: $verde-claro;
}
.c-verde {
  color: $verde;
}
.c-verde-escuro {
  color: $verde-escuro;
}

.f-branco {
  background-color: $main-branco;
}
.f-verde-claro {
  background-color: $verde-claro;
}
.f-verde {
  background-color: $verde;
}
.f-verde-escuro {
  background-color: $verde-escuro;
}
